// COLORS
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-primary: #c30d18;
// $color-primary-dark: #75080e;
// $color-primary-light: #d5565d;
$color-primary: #eb2f64;
$color-primary-dark: #ba265d;
$color-primary-light: #ff3366;

$color-secondary: #020b30;
$color-secondary-light: #0829ac;

$color-white: #fff;
$color-black: #000;

$color-grey-50: #f8fafc;
$color-grey-100: #f1f5f9;
$color-grey-200: #e2e8f0;
$color-grey-300: #cbd5e1;
$color-grey-400: #94a3b8;
$color-grey-500: #64748b;
$color-grey-600: #475569;
$color-grey-700: #334155;
$color-grey-800: #1e293b;
$color-grey-900: #0f172a;

$color-text: #777;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
