@use "../abstracts/variables" as var;

.breadcrumb {
  background-color: var.$color-grey-100;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    text-decoration: none;
    color: var.$color-primary;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    &:hover {
      color: var.$color-primary-dark;
    }
  }

  &__homeicon {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }

  &__separator {
    padding: 0 1rem;
    display: inline-block;
  }

  &__icon {
    // color: red;
    // font-size: 1rem;
    // padding: 0 1rem;
    // display: inline-block;
    // fill: red;
    // stroke: red;
  }
}
