@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.form {
  &__group:last-child {
    margin: 2rem 0;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(var.$color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    @include mix.respond(sm) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(var.$color-black, 0.1);
      border-bottom: 3px solid darkgreen;
    }

    &:focus:invalid {
      border-bottom: 3px solid var.$color-primary;
    }

    &::-webkit-input-placeholder {
      color: var.$color-grey-700;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__validation {
    color: var.$color-primary;
    font-size: 1.2rem;
    padding: 0 2rem;
  }

  &__submitted {
    color: var.$color-primary;
    margin-bottom: 2rem;
  }
}
