@use "../abstracts/variables" as var;

.lspinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 80px;
    color: var.$color-primary;
    svg {
      transform-origin: center;
      animation: spin 0.75s linear infinite;
    }
  }
  z-index: 10000;
}
